body {
  background: url("http://res.cloudinary.com/dbsgnowkn/image/upload/v1517160267/green_mountain_hyllip.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#root {
  margin-top: 20px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  font-size: 12px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 135px;
  padding: 2px;
  font: 10px;
  font-style: bold;
  color: white;
  background: #000033;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
